
.wrap{
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.body-content{
  height: 100%;
  font-family: sans-serif;
}
.wrap .body-content .sidebar{
  /*background-color: white;*/
  float: left;
  width: 25%;
  height: 100%;
}
.wrap .body-content #map{
  float: left;
  height: 100%;
}
/* .wrap .footer{
  background: FloralWhite;
  border-top: solid 1px;
  padding: 1px 0;
} */