.wrap{
  width: 100%;
  border: solid 1px;
  margin: 0 auto;
}
.wrap .header{
  /*background: azure;*/
  border-bottom: solid 1px;
  padding: 1px 0;
}
.body-content{
  height: 100%;
  font-family: sans-serif;
}
.wrap .body-content .sidebar{
  /*background-color: white;*/
  float: left;
  width: 40%;
  height: 100%;
}
.wrap .body-content #map{
  float: left;
  height: 100%;
  width: 60%; 
}
.wrap .footer{
  /*background: FloralWhite;*/
  border-top: solid 1px;
  padding: 1px 0;
}