
.wrap{
  height: 710px;
  width: 100%;
  margin: 0 auto;
}
.body-content{
  height: 100%;
  font-family: sans-serif;
}
.wrap .body-content .sidebar{
  background-color: #c1c1c1;
  float: left;
  width: 20%;
  height: 100%;
}
.wrap #map{
  float: left;
  height: 100%;
}

.input-color {
  position: relative;
}
.input-color input {
  padding-left: 20px;
}
.input-color .color-box {
  width: 13px;
  height: 13px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}